#header {
    display: flex;
    /* this align the item in the center so they are parallel and consistent to each other */
    align-items: center;
    /* this justify the content space so they are evenly distributed */
    justify-content: space-between;
    background-color: grey;
}
navigator ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

navigator ul a {
    color: white;
    display: block;
    text-align: left;
    padding: 16px;
    text-decoration: none;
  }